* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

.header {
  position: fixed;
  padding: 0.5em 1.5em;
  width: 100%;
  height: 7vh;
  font-size: 2vh;
  color: #000;
  background-color: #B6FF00;
  z-index: 200;
}

footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100%;

  text-align: center;
  color: #000;
  background-color: #B6FF00;
  z-index: 200;
  font-size: 1.8vh;
}

.header-left {
  float: left
}

.header-right {
  float: right;
}

.footer1 {
  font-weight: bold;
  position: relative;
  top: 30%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.frame {
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 8.5%;
  width: min(88vw,175vh);
  height: min(40vw,80vh);
}

.hide {
  display: none;
}

.disabled {
  background-color: #bbbbbb;
  border-color:#000;
}

.disabled:hover {
  cursor: not-allowed;
  background-color: #bbbbbb;
  border-color:#000;
}

.bgfull {
  position: absolute;
  top: 5vh;
  left: 0vh;
  width: 100%;
  height: 90vh;
  z-index: -100;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

button {
  font-family: "Shantell Sans", sans-serif;
  font-weight: bolder;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 1vh;
  border-color: #000;
  color: #000;
}

button:hover {
  border-style: solid;
  cursor: pointer;
  background-color: #FDE992;
  border-color: #ffbf00;
  z-index: 1;
}

button:focus {
  cursor: pointer;
}

.genbutton {
  z-index: 3;
  position: absolute;
  text-align: center;
  font-size: min(1.2vw,2.5vh);
  width : min(10vw,20vh);
  height: min(3.5vw,7vh);
  padding: 0.2vh 0;
  border-style: solid;
  border-color:#000;
  border-width: 0.4vh;
}

.ppbut {
  z-index: 3;
  position: absolute;
  width: min(7.5vw,15vh);
  height: min(7.5vw,15vh);
  border-style: solid;
  border-color: #ffbf00;
  border-width: 0.4vh;
}

.ppbut:hover {
  border-color: #00AAAA;
}

.bagbut {
  margin: 1vh;
  width: min(12.5vw,25vh);
  height: min(12.5vw,25vh);
  font-size: min(2vw,4vh);
  border-style: solid;
  border-width: 0.4vh;
}

.bagtable {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.bagitemdiv {
  width: 100%;
  height: min(27.5vw,55vh);
  position: relative;
  margin: auto;
}

.bagitem {
  height: min(27.5vw,55vh);
  position: relative;
  margin: auto;
}

#bgnote {
  font-family: monospace, sans-serif;
  font-size: min(1.9vw,3.8vh);

  position: relative;
  left: 10%;
  width : 80%;
  height: min(25vw,50vh);
  padding : 0.4em;
  border-style: solid;
  margin-top: 1.5%;
  border-width: 0.4vh;
  border-radius: 25px;

  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.fullop {
  opacity: 1;
}

.boldy {
  font-weight: bold;
  color: #ffff00;
}

.tbub {
  font-family: monospace, sans-serif;
  text-align: left;
  font-size: min(1.75vw,3.5vh);
  font-weight: bold;

  top: min(33vw,66vh);
  position: absolute;
  width : 100%;
  height: min(8vw,16vh);
  padding : min(0.75vw,1.5vh) 1vh 1vh min(18.5vw,37vh);
  border-style: solid;
  border-width: 0.4vh;
  border-radius: 25px;
  color: #000;
  background-color: #fff;
}

#starttitle {
  font-size: min(7.5vw,15vh);
  font-family: "Shantell Sans", sans-serif;
  font-style: italic;
  color:#fff;
}

#startdes {
  font-size: min(2.5vw,5vh);
  font-family: "Shantell Sans", sans-serif;
  font-style: italic;
  color:#fff;
}

.startframe {
  text-align: center;
}

.startbutton {
  text-align: center;
  font-size: min(3vw,6vh);
  width : 50%;
  height: min(6vw,12vh);
  font-family: "Shantell Sans", sans-serif;
  margin: 2vh 0.4vh 0vh 0.4vh;
  padding: 0.2vh 0;
  border-style: solid;
  border-color:#000;
  border-width: 0.4vh;
  border-radius: 4vh;
}

.startbutton2 {
  text-align: center;
  font-size: min(2vw,4vh);
  font-family: cursive, sans-serif;
  width : 15%;
  height: min(4vw,8vh);
  margin: 1vh 0.4vh 0vh 0.4vh;
  padding: 0.2vh 0;
  border-style: solid;
  border-color:#000;
  border-width: 0.4vh;
  border-radius: 4vh;
}

.startbutton3 {
  text-align: center;
  font-size: min(2vw,4vh);
  font-family: cursive, sans-serif;
  width : 15%;
  height: min(4vw,8vh);
  margin: 1vh 0.4vh 0vh 0.4vh;
  padding: 0.2vh 0;
  border-style: solid;
  border-color:#0AA;
  background-color: #99EDC3;
  border-width: 0.4vh;
  border-radius: 4vh;
}

.mutebutton {
  z-index: 100;
  margin: 0;
  position: absolute;
  top: 10vh;
  right: min(2.5vw,5vh);
  width : min(5vw,10vh);
  height: min(5vw,10vh);
  border-style: solid;
  border-color:#888;
  border-width: 0.4vh;
  border-radius: 2vh;
}

.dir {
  z-index: 5;
  position: absolute;
  height: min(2.5vw,5vh);
}

.mapinfo {
  z-index: 5;
  position: absolute;
  top: min(1vw,2vh);
  left: min(1vw,2vh);
  color: #ff0;
  font-size: min(1.5vw,3vh);
}

.noclickoverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0);
  color: #ffffff;
}

.bagoverlay {
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
  color: #ffffff;
  transition: 0.5s;
}

.bagoverlayin {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
}

#map {
  z-index: 1;
  border-style: solid;
  border-color:#ff0;
  border-width: 0.4vh;
  cursor: default;
}

.backbutton {
  z-index: 3;
  margin: 0;
  position: absolute;
  font-size: min(1.5vw,3vh);
  top: 22vh;
  right: min(2.5vw,5vh);
  width : min(5vw,10vh);
  height: min(5vw,10vh);
  border-style: solid;
  border-color:#888;
  border-width: 0.4vh;
  border-radius: 2vh;
}

.backbuttonoverlayed {
  z-index: 12;
  margin: 0;
  position: absolute;
  font-size: min(1.5vw,3vh);
  top: min(3.5vw,7vh);
  right: min(2.5vw,5vh);
  width : min(5vw,10vh);
  height: min(5vw,10vh);
  border-style: solid;
  border-color:#888;
  border-width: 0.4vh;
  border-radius: 2vh;
}

.circle {
  z-index: 4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  border-style: solid;
  border-color:#000;
  border-width: 0.4vh;
  border-radius: 50%;
}